/* Start of General styles */
$thistle: #b7014c
$medium-aquamarine: #b7014c
$ocean-green: #48BF84
$illuminating-emerald: #011627
$japanese-indigo: #2A4747
$white: #ffffff
$black: #000000
$jet: #011627
$body-font: 'Roboto', sans-serif
$headings: 'Karla', sans-serif
$title: 'Bowlby One SC', cursive

@mixin display-grid 
	display: -ms-grid
	display: grid
