@import '_variables'

.hide
	display:none

.show
	display:block

.year-link
	active
		font-weight:bold

.article-body
	margin-top: 20px
	margin-bottom: 20px

article
	margin-bottom: 35px
	.btn
		padding: 10px
