@import main.sass

main
	text-align: justify
	h1
		font-size: 1.5em
		margin-bottom: 10px
main > *
	margin-left: 5vw
	margin-right: 5vw
main section:last-child
	border-bottom: none

#intro
	margin-top: 70px
	padding-bottom: 50px

.hide
	display:none

.show
	display:block

.resource-link
	.active
		font-weight:bold

.resources-nav
	text-align: center
	margin-bottom: 50px
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
	grid-gap: 10px
	justify-items: center
	align-content: center

.resources-nav span + span
	margin-left: 2em

.resources-nav a
	padding: 10px
	&:hover
		background-color: #61d095
