body

	text-align: justify

.details
	line-height: 1.5

#article-header
	color: #48bf84

article
	p
		margin-bottom: 25px


article:nth-of-type(2)
	display: flex
	justify-content: space-around
	img
		width: 50%
		height: 70%
		margin-top: 50px
		margin-left: 15px

article:nth-of-type(3)
	display: flex
	justify-content: space-around
	img
		width: 20%
		margin-right: 25px
	p
		margin-top: 30px

article:last-of-type
	display: flex
	justify-content: space-around
	img
		width: 20%
		margin-left: 25px

article:nth-of-type(2), article:nth-of-type(3), article:last-of-type
	margin-bottom: 50px

ol 
	margin-left: 25px
	li
		list-style: square

.share
	text-align: center
	a
		margin: 0 10px
		background: #61d094
		padding: 20px
	i
		width: 55px
		height: auto

@media (max-width: 960px)
	.details article:nth-of-type(2)
		flex-direction: column
		align-items: center
		img
			margin-top: 30px
