/* General styles */
$thistle: #E0BAD7

.container
	max-width: 960px
	margin: 0 auto
	.navigation
		float: right
		background-color: $thistle
		li
			display: inline-block
		a
			display: block
			padding: 6px 12px
			text-decoration: none
