@import main.sass
@import '_variables'


.milkweed-article
	display: grid
	grid-template-columns: 9fr 3fr
	line-height: 1.5
	grid-gap: 2em

.milkweed-article,
#map,
#images
	margin-left: 5vw
	margin-right: 5vw

.milkweed-highway-text
	grid-columns: 1 / span 9
	text-align: justify
	p
		margin-bottom: 20px
		font-size: 1em
	h5
		margin-top: 10px
		margin-bottom: 30px
		font-weight: bold

.aside-section
	font-size: 0.8em
	text-align: left
	background-color: $jet
	color: $white
	h4
		font-size: 1.3em
		text-align: center
	ul
		margin-bottom: 10px
		padding: 10px
	li
		margin-bottom: 10px
		a
			color: $white

#more-info-header
	margin-top: 10px
	margin-bottom: 20px
	font-weight: bold

#media-mentions-header
	margin-bottom: 30px
	font-weight: bold

#images
	margin-top: 30px
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
	justify-items: center
	grid-gap: 1em
	img
		transition: all 0.6s ease-in-out
		width: 100%
		&:hover
			opacity: 0.6
			transform: scale(1.1)

#map
	font-size: 0.8em
	text-align: justify
	h5
		text-align: center
		margin-top: 21px
		font-size: 1.2em
		font-weight: bold
	p
		margin-top: 10px
		margin-bottom: 20px

@media (max-width: 1060px)
	.milkweed-article
		grid-template-columns: 1fr


@media (max-width: 880px)
	.milkweed-article
		p
			font-size: 0.9em

@media (max-width: 440px)
	.milkweed-article
		margin-left: 0
		margin-right: 0
