@import main

.hero
	grid-template-rows: 30vh
	padding-bottom: 2em
	background: $illuminating-emerald
	color: $white
	h1
		grid-row: 1
	span
		grid-column: 2
		grid-row: 3
	p
		grid-row: 2
		font-size: 14px
	.btn
		background: $thistle

.details
	text-align: justify
	line-height: 1.3
	ol li
		list-style-type: square
		margin: 10px 30px
	article
		margin-bottom: 10px
		p
			padding-left: 45px

@media (max-width: 880px)
	.hero span
		grid-column: span 4
	.details
		article > h5
			margin-bottom : 10px
		article > p
			padding-left: 0
		article > *
			font-size: 12px
			line-height: 1.5		